body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button{
    display: block;
    align-self: center;
}
.board{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.item{
    display: flex;
    background-color:floralwhite;
    border: 1px solid black;
    width: 50%;
    aspect-ratio: 1/1;
}

.visited{
    background-color: red;
}